* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'MS Sans Serif', Tahoma, Arial, sans-serif;
  background-color: #008080;
}
